$font-size: 10px;
$font-color: rgb(107, 105, 150);
$shadow: 0 0 10px rgba(0,0,0,0.5);
$width: 100vw;
$margin10: 10px 10px;

html {
  font-size: $font-size;
  color: $font-color;
}

body {
  width: $width;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: $width;
}

.container-album {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-shadow: $shadow;
}

.container-album:hover {
  border: 1px solid blue;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper {
  width: 102px;
  margin: $margin10;
  text-align: center;
}

.hide {
  display: none;
}

.more-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.wrapper-img {
  width: 200px;
  margin: $margin10;
  text-align: center;
}

.container-img__img {
  width: 100%;
  box-shadow: $shadow;
}

.modal {
  position: fixed;
  margin: auto;
}
